@model dynamic
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_DemoPartial01")
        @Html.Partial("_DemoPartial02")
        @Html.Partial("_DemoPartial03")
        @Html.Partial("_DemoPartial04")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_FileStructrues")
    </div>
</div>
